@import "../../styles/imports/mixins";
@import "../../styles/imports/variables";

.footer {
	@include flex-row();
	align-items: center;
	justify-content: space-between;
	padding: 10px 60px;
	height:60px;
	flex-shrink: 0;
	border-top: $border;
	p {
		@include flex-row();
		align-items: center;
	}
	.icon {
		font-size: 1.5rem;
	}
	.popover {
		padding-left: 30px;
		width: 400px;
	}
	.strong {
		font-weight: bold;
		margin-left: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	.logout {
		&:hover {
			text-decoration: underline;
		}
	}
	.darkModeIcon {
		margin-left: 10px;
	}
}

@media screen and (max-width: 724px) {
	.footer {
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
		p {
			flex-wrap: wrap;
		}
	}
}
