@import "./imports/mixins";
@import "./imports/variables";

.footer {
	@include flex-row();
	align-items: center;
	justify-content: space-between;
	padding: 10px 60px;
	flex-shrink: 0;
	border-top: 1px solid $gray-700;
	p {
		@include flex-row();
		align-items: center;
	}
	.icon {
		font-size: 1.5rem;
	}
	.popover {
		padding-left: 30px;
		width: 400px;
	}
	.strong {
		font-weight: bold;
		margin-left: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	.logout {
		&:hover {
			text-decoration: underline;
		}
	}
	.darkModeIcon {
		margin-left: 10px;
	}
}
